<nav class="fixed top-0 z-20 w-full mt-5 border-default">
  <div class="relative flex items-center w-1/2 p-4 mx-auto bg-white rounded-full shadow">
    <!-- Logo (Center) -->
    <div class="ps-5">
      <a href="/Home" class="text-2xl font-semibold text-main whitespace-nowrap">
        EzBus
      </a>
    </div>

    <!-- Spacer -->
    <div class="flex-1"></div>

    <!-- Profile Icon (Right) -->
    <a href="/User/Profile">
    <i  class="text-2xl pe-5 cursor-po inter text-main fas fa-user-circle justify-self-end profile-icon"></i></a>
  </div>
</nav>
<script src="~/js/site.js" asp-append-version="true"></script>