@{
    Layout = "_Layout";
}
@using Superjet.Web.Models
@model List<Route_travel>

<section class="min-h-screen py-12 bg-gray-50">
    <div class="container mx-auto">
      <div
        class="relative flex w-3/4 gap-0 py-10 mx-auto mb-8 bg-white border border-gray-200 shadow-sm rounded-b-3xl justify-evenly">
        <!-- FROM -->
        <div class="flex flex-col items-start gap-2">
          <p class="font-semibold text-gray-400">From:</p>
          <select
            class="w-full mt-1 font-light text-gray-300 border-0 rounded-lg cursor-pointer"
          >
            <option selected>@(Model.Any() ? Model[0].Origin : "From")</option>
            <option>Cairo</option>
            <option>Alex</option>
          </select>
        </div>

        <!-- Divider -->
        <div class="w-px bg-gray-50 h-14"></div>

        <!-- TO -->
        <div class="flex flex-col items-start gap-2">
          <p class="font-semibold text-gray-400">To:</p>
          <select
            class="w-full mt-1 font-light text-gray-300 border-0 rounded-lg cursor-pointer"
          >
            <option selected>
              @(Model.Any() ? Model[0].Destination : "To")
            </option>
            <option>Cairo</option>
            <option>Alex</option>
          </select>
        </div>

        <!-- Divider -->
        <div class="w-px bg-gray-50 h-14"></div>

        <!-- DATE -->
        <div class="flex flex-col items-start gap-2">
          <label class="font-semibold text-gray-400"> Departure Date: </label>
          <input type="date" value="@(Model.Any() ?
          Model[0].DepartureTime.ToString("yyyy-MM-dd") : "")" class="mt-1 font-light text-gray-300 border-0 rounded-lg cursor-pointer" />
        </div>

        <!-- Divider -->
        <!-- <div class="hidden w-px bg-gray-300 h-14 md:block"></div> -->

        <!-- ROUND TRIP + SEARCH -->
        <div>
          <button
            onclick="searchForTrips()"
            class="px-6 py-2 mt-3 font-semibold text-white transition bg-blue-600 rounded-full hover:bg-blue-500"
          >
            Search
          </button>
        </div>
      </div>
      <h1 class="mb-10 text-4xl font-bold text-blue-950">
        Choose your suitable trip
      </h1>
      <div class="grid grid-cols-8 gap-5">
        <!-- Filters -->
        <div class="col-span-2">
          <div
            class="sticky p-5 bg-white border border-gray-200 rounded-lg shadow-sm top-4"
          >
          <form action="" class="space-y-8">
            <div class="flex items-center justify-between mb-6">
              <h3 class="font-bold text-gray-900">Filter by:</h3>
              <button
                type="Reset"
                class="text-sm font-medium text-red-600 transition-colors hover:text-red-400"
              >
                Reset All
              </button>
            </div>

            
              <!-- Time Filter -->
              <div>
                <h4
                  class="mb-3 text-sm font-semibold tracking-wide text-gray-900 uppercase"
                >
                  Time Departure
                </h4>

                <div class="space-y-3">
                  <!-- Morning -->
                  <div class="flex items-center">
                    <input
                      class="time-checkbox"
                      id="time-morning"
                      name="departure_time"
                      type="checkbox"
                      value="06:00"
                      class="w-4 h-4 bg-gray-100 border-gray-300 rounded text-blue-950 focus:ring-blue-500"
                    />
                    <label
                      for="time-morning"
                      class="flex justify-between flex-1 text-sm text-gray-700 cursor-pointer ms-2"
                    >
                      <span>Morning (06:00 - 12:00)</span>
                      <span class="text-xs text-gray-400">14</span>
                    </label>
                  </div>

                  <!-- Afternoon -->
                  <div class="flex items-center">
                    <input
                      class="time-checkbox"
                      id="time-afternoon"
                      name="departure_time"
                      type="checkbox"
                      value="12:00"
                      class="w-4 h-4 bg-gray-100 border-gray-300 rounded text-blue-950 focus:ring-blue-500"
                    />
                    <label
                      for="time-afternoon"
                      class="flex justify-between flex-1 text-sm text-gray-700 cursor-pointer ms-2"
                    >
                      <span>Afternoon (12:00 - 18:00)</span>
                      <span class="text-xs text-gray-400">12</span>
                    </label>
                  </div>

                  <!-- Evening -->
                  <div class="flex items-center">
                    <input
                      class="time-checkbox"
                      id="time-evening"
                      name="departure_time"
                      type="checkbox"
                      value="18:00"
                      class="w-4 h-4 bg-gray-100 border-gray-300 rounded text-blue-950 focus:ring-blue-500"
                    />
                    <label
                      for="time-evening"
                      class="flex justify-between flex-1 text-sm text-gray-700 cursor-pointer ms-2"
                    >
                      <span>Evening (18:00 - 06:00)</span>
                      <span class="text-xs text-gray-400">4</span>
                    </label>
                  </div>
                </div>
              </div>

              <hr class="border-gray-100" />
              <!-- Price Filter -->
              <div>
                <h4
                  class="mb-3 text-sm font-semibold tracking-wide text-gray-900 uppercase"
                >
                  Price Range
                </h4>

                <div class="space-y-4">
                  <!-- Slider bar (static UI only) -->
                  <div class="relative w-full h-2 bg-gray-200 rounded-lg">
                    <div
                      class="absolute left-0 h-2 rounded-lg bg-main"
                      style="width: 100%"
                    ></div>

                    <!-- Min Handle 250 -->
                    <div
                      class="absolute left-0 w-4 h-4 -mt-1 transition-transform bg-white border-2 rounded-full cursor-pointer border-blue-950 hover:scale-110"
                    ></div>

                    <!-- Max Handle 500 -->
                    <div
                      class="absolute right-0 w-4 h-4 -mt-1 transition-transform bg-white border-2 rounded-full cursor-pointer border-blue-950 hover:scale-110"
                    ></div>
                  </div>

                  <div class="flex items-center space-x-2">
                    <!-- Min -->
                    <div class="relative">
                      <span
                        class="absolute text-xs text-gray-500 -translate-y-1/2 left-3 top-1/2"
                        >$</span
                      >
                      <input
                        id="minPrice"
                        type="number"
                        value="250"
                        class="w-full pl-6 pr-2 py-1.5 text-sm border border-gray-300 rounded-md focus:ring-1 focus:ring-blue-500 outline-none"
                      />
                    </div>

                    <span class="text-gray-400">-</span>

                    <!-- Max -->
                    <div class="relative">
                      <span
                        class="absolute text-xs text-gray-500 -translate-y-1/2 left-3 top-1/2"
                        >$</span
                      >
                      <input
                        id="maxPrice"
                        type="number"
                        value="500"
                        class="w-full pl-6 pr-2 py-1.5 text-sm border border-gray-300 rounded-md focus:ring-1 focus:ring-blue-500 outline-none"
                      />
                    </div>
                  </div>
                </div>
              </div>

              <hr class="border-gray-100" />
              <!-- Model Filter -->
              <div>
                  <h4
                    class="mb-3 text-sm font-semibold tracking-wide text-gray-900 uppercase"
                  >
                    Bus Model
                  </h4>

                  <div class="space-y-3">

                    <!-- Economy -->
                    <div class="flex items-center">
                      <input
                        class="model-checkbox"
                        id="model-economy"
                        type="checkbox"
                        value="Economy"
                        class="w-4 h-4 bg-gray-100 border-gray-300 rounded text-blue-950 focus:ring-blue-500"
                      />
                      <label for="model-economy"
                        class="flex justify-between flex-1 text-sm text-gray-700 cursor-pointer ms-2">
                        <span>Economy</span>
                        <span class="text-xs text-gray-400">6</span>
                      </label>
                    </div>

                    <!-- Premium -->
                    <div class="flex items-center">
                      <input
                        class="model-checkbox"
                        id="model-premium"
                        type="checkbox"
                        value="Premium"
                        class="w-4 h-4 bg-gray-100 border-gray-300 rounded text-blue-950 focus:ring-blue-500"
                      />
                      <label for="model-premium"
                        class="flex justify-between flex-1 text-sm text-gray-700 cursor-pointer ms-2">
                        <span>Premium</span>
                        <span class="text-xs text-gray-400">5</span>
                      </label>
                    </div>
                    <!-- Elite -->
                    <div class="flex items-center">
                      <input
                        class="model-checkbox"
                        id="model-elite"
                        type="checkbox"
                        value="Elite"
                        class="w-4 h-4 bg-gray-100 border-gray-300 rounded text-blue-950 focus:ring-blue-500"
                      />
                      <label for="model-elite"
                        class="flex justify-between flex-1 text-sm text-gray-700 cursor-pointer ms-2">
                        <span>Elite</span>
                        <span class="text-xs text-gray-400">3</span>
                      </label>
                    </div>
                  </div>
                </div>

              <button
                type="button"
                onclick="FilterTrips()"
                class="w-full px-4 py-2 font-medium text-white transition-colors bg-blue-600 rounded-md shadow-sm hover:bg-blue-900"
              >
                Apply Filters
              </button>
            </form>
          </div>
        </div>
        <!-- Cards -->
        <div class="col-span-4" id="tripsContainer">
          @Html.Partial("_TripsList",Model)
        </div>
        <!-- User Cart -->
        <div class="col-span-2">
          <div class="sticky p-5 bg-white border border-gray-200 rounded-lg shadow-sm top-4">

            <h3 class="mb-6 font-bold text-gray-900">Your Tickets:</h3>

            <div id="ticket-summary">
              <!-- JS will fill this -->
              <p class="text-sm text-gray-400">No tickets selected yet.</p>
            </div>

            <hr class="mt-4 border-gray-200" />

            <h4 id="ticket-total" class="flex justify-between mt-2 font-semibold text-gray-900 text-md">
              <span>Total</span> <span>0 EGP</span>
            </h4>

            <button type="submit"
              class="w-full px-4 py-2 mt-2 font-medium text-white transition-colors bg-blue-600 rounded-md hover:bg-blue-900 checkout-tickets">
              Checkout
            </button>

          </div>
        </div>
      </div>
    </div>
  </section>
