@import "tailwindcss";
@import "tailwindcss/utilities";

.mainHome {
  background-image: url("/images/mainBus.jpg");
}
.userBg {
  background-image: url("/images/BusBg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -12px 15px;
  transform: scale(110%);
}
.bg-main {
  background-color: #05203c;
}
.text-main {
  color: #05203c;
}
